.input {
  height: 100px;
}

.aa {
  background-image: url("./2G.png");
  width: 200px;
  height: 200px;
  transition: all 1s;
}

.bb {
  background-image: url("./3G.jpg");
  width: 200px;
  height: 200px;
}