@font-face {
  font-family: 'anticon';
  src: url('./fonts/font_zck90zmlh7hf47vi.eot');/* IE9*/
  src: url('./fonts/font_zck90zmlh7hf47vi.eot?#iefix') format('embedded-opentype'), /* chrome、firefox */
  url('./fonts/font_zck90zmlh7hf47vi.woff') format('woff'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
  url('./fonts/font_zck90zmlh7hf47vi.ttf') format('truetype'), /* iOS 4.1- */
  url('./fonts/font_zck90zmlh7hf47vi.svg#iconfont') format('svg');
}